{% set showHeader = not getLayout or (getLayout and 'header' in elementsToLoad) %}
{% set showFooter = not getLayout or (getLayout and 'footer' in elementsToLoad) %}
{% set showLeft = not getLayout or (getLayout and 'left' in elementsToLoad) %}
{% set showRight = not getLayout or (getLayout and 'right' in elementsToLoad) %}
<!doctype html>
<html lang="pt-br" data-theme="{{ settings.extension_id }}" data-store="{{ store.id }}" class="page-{{ pages.current }}">
<head>
    {{ html.charset() }}
    {{ tray.meta }}
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- [if IE]<meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    {{ tray.styles }}

    <link rel="stylesheet" href="{{ themePath }}css/bootstrap/bootstrap.min.css?{{ utils.assets_version }}">
    <link rel="stylesheet" href="{{ themePath }}css/theme.min.css?{{ utils.assets_version }}"> 
    <link rel="stylesheet" href="{{ themePath }}css/style.css?{{ utils.assets_version }}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Gudea:400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {% element 'custom' { 'themeID': 5 } %}

    {{ tray.scripts }} 

    <script type="text/javascript" src="{{ themePath }}js/default.js?{{ utils.assets_version }}"></script>
    <script type="text/javascript" src="{{ themePath }}js/setMenuMobile.js?{{ utils.assets_version }}"></script>
    {{ tray.analytics }}
    {{ googleTagManager.header(pages.current, tagManagerData) }}
</head>
<body class="theme-5 {{ settings.class_name }} {% if settings.checkbox_body_color == 1 %}background-no-color{% endif %}{% if settings.checkbox_body_image == 1 %} background-no-image{% endif %} {{ settings.position_body_bg }} {{ settings.repeat_body_bg }} {{ settings.structure }} {{ settings.fonts }} page-{{ pages.current }} custom-background-body custom-color-body" data-page="{{ pages.current }}">
    {{ googleTagManager.top(pages.current, tagManagerData) }}

    {% element 'snippets/messages' %}
    
    {% if showHeader %}
        
        {{ _view.element('header') }}
        
        {% if pages.current == 'home' and banner.home %}
            <div class="banner banner-home">
                {{ banner.home }}
            </div>
        {% endif %}

    {% endif %}

    <div class="container">
        <div class="content">

            <section class="page-content col-sm-12">
                {{ content_for_layout }}
            </section>

        </div>
    </div>
 
    {% if showFooter %}

        {{ _view.element('footer') }}

        {% if banner.footer %}
            <div class="banner banner-footer">
                {{ banner.footer }}
            </div>
        {% endif %}

        {% if pages.current == 'home' %}
            {{ banner.popup ~ banner.floating }}
        {% endif %}

        {{ _view.element('snippets/credits') }}

    {% endif %}
    
    {{ store.chat }}

    {{ googleTagManager.bottom(pages.current, tagManagerData) }}

    {% element 'snippets/modal' %}
   
    {{ html.script('dist/application.min.js?' ~ utils.assets_version) }}

    {{ _view.element('snippets/pageview') }}

</body>
</html>